###logback-spring.xml
<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <loggerName />
                <pattern>
                    <pattern>
                        {
                            "thread": "%thread",
                            "level": "%level",
                            "message": "%msg",
                            "caller": "%caller"
                        }
                    </pattern>
                </pattern>
                <arguments />
                <stackTrace />
            </providers>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="JSON" />
    </root>
</configuration>
